<?xml version='1.0' encoding='utf-8'?>
<plugin id="com.gi.location" version="0.0.1" xmlns="http://apache.org/cordova/ns/plugins/1.0" xmlns:android="http://schemas.android.com/apk/res/android">
  <name>ionic_gi_location</name>
  <js-module name="gi_location" src="www/ionic_gi_location.js">
    <clobbers target="cordova.plugins.gi_location" />
  </js-module>
    <platform name="android">
      <config-file parent="/*" target="res/xml/config.xml">
      <feature name="ionic_gi_location">
        <param name="android-package" value="com.gi.location.ionic_gi_location" />
      </feature>
    </config-file>
<config-file parent="/*" target="AndroidManifest.xml">
    <uses-feature android:name="android.hardware.location.gps" />
    <uses-feature android:name=" android.hardware.location.network" />
  <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
  <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
</config-file>
<source-file src="src/android/ionic_gi_location.java" target-dir="src/com/gi/location" />
<source-file src="src/android/getLocationValues.java" target-dir="src/com/gi/location" />

</platform></plugin>
